{% extends 'base.html.twig' %}

{% block title %}ModificaSchedaValutazioneGenerale{% endblock %}

{% block body %}
    <h1>Modifica Valutazione Generale</h1>

    {{ include('valutazione_generale/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-danger" href="{{ path('app_valutazione_generale_index') }}">Annulla</a>

    {{ include('valutazione_generale/_delete_form.html.twig') }}
{% endblock %}
