{% extends 'base.html.twig' %}

{% block title %}Modifica scheda Valutazione Generale{% endblock %}

{% block body %}
    <h1>Modifica Valutazione Generale</h1>

    {{ include('valutazione_generale/_form.html.twig', {'button_label': 'Modifica'}) }}

    <a href="{{ path('app_valutazione_generale_index') }}">torna alla lista</a>

    {{ include('valutazione_generale/_delete_form.html.twig') }}
{% endblock %}
