{% extends 'base.html.twig' %}

{% block title %}ValutazioneGenerale{% endblock %}


{% block body %}
    <h1>Valutazione Generale</h1>
   {{ include('campi_valutazione_generale.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_valutazione_generale_index') }}">Torna alla lista</a>

    <a class="btn btn-primary" href="{{ path('app_valutazione_generale_edit', {'id': valutazione_generale.id}) }}">Modifica</a>

    {{ include('valutazione_generale/_delete_form.html.twig') }}
{% endblock %}
