{% extends 'base.html.twig' %}

{% block title %}ValutazioneGenerale{% endblock %}


{% block body %}
    <h1>Valutazione Generale</h1>
   {{ include('campi_valutazione_generale.html.twig') }}

    {{ include('valutazione_generale/_delete_form.html.twig') }}
{% endblock %}
