{% extends 'base.html.twig' %}

{% block title %}New SchedaPAI{% endblock %}

{% block body %}
    <h1>Cre nuova Scheda PAI</h1>

    {{ include('scheda_pai/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_scheda_pai_index') }}">Annulla</a>
{% endblock %}
