{% extends 'base.html.twig' %}
{% block title %}DatiAssistito
{% endblock %}

{% block body %}
	<h1>Dati Assistito</h1>
	{{ include ('dati_assistito.html.twig') }}

    <div class="pb-2 mb-4"></div>
	<a class="btn btn-primary" href="{{ path('app_scheda_pai_index') }}">Indietro</a>
    <div class="pb-2 mb-4"></div>

{% endblock %}
