{% extends 'base.html.twig' %}
{% block title %}SchedaPAI
{% endblock %}

{% block body %}
	<h1>Scheda PAI</h1>
	{{ include ('campi_scheda_pai.html.twig') }}

	<a class="btn btn-primary" href="{{ path('app_scheda_pai_index') }}">Torna alla lista</a>

	<a class="btn btn-primary" href="{{ path('app_scheda_pai_edit', {'id': scheda_pai.id}) }}">Modifica</a>

	{{ include('scheda_pai/_delete_form.html.twig') }}

{% endblock %}
