doctrine:
    dbal:
        

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '13'
        types:
            TipoOperatore: App\Doctrine\DBAL\Type\TipoOperatore
            Valutazione: App\Doctrine\DBAL\Type\Valutazione
            PANF: App\Doctrine\DBAL\Type\PANF
            FANF: App\Doctrine\DBAL\Type\FANF
            ISS: App\Doctrine\DBAL\Type\ISS
            Autonomia: App\Doctrine\DBAL\Type\Autonomia
            Disturbi: App\Doctrine\DBAL\Type\Disturbi
        connections:
            default:
                url: '%env(resolve:DATABASE_URL)%'
                mapping_types:
                    enum: string
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
