{% extends 'base.html.twig' %}

{% block title %}Edit Paziente{% endblock %}

{% block body %}
    <h1>Edit Paziente</h1>

    {{ include('paziente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paziente_index') }}">back to list</a>

    {{ include('paziente/_delete_form.html.twig') }}
{% endblock %}
