{% extends 'base.html.twig' %}

{% block title %}ModificaBarthel{% endblock %}

{% block body %}
    <h1>Modifica Barthel</h1>

    {{ include('barthel/_form.html.twig', {'button_label': 'Modifica'}) }}

    <a href="{{ path('app_barthel_index') }}">Torna alla lista</a>

    {{ include('barthel/_delete_form.html.twig') }}
{% endblock %}
