{% extends 'base.html.twig' %}

{% block title %}ModificaBarthel{% endblock %}

{% block body %}
    <h1>Modifica Barthel</h1>

    {{ include('barthel/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-primary" href="{{ path('app_barthel_index') }}">Annulla</a>

    {{ include('barthel/_delete_form.html.twig') }}
{% endblock %}
