{% extends 'base.html.twig' %}

{% block title %}Edit Barthel{% endblock %}

{% block body %}
    <h1>Modifica Barthel</h1>

    {{ include('barthel/_form.html.twig', {'button_label': 'modifica'}) }}

    <a href="{{ path('app_barthel_index') }}">torna alla lista</a>

    {{ include('barthel/_delete_form.html.twig') }}
{% endblock %}
