{% extends 'base.html.twig' %}

{% block title %}New Barthel{% endblock %}

{% block body %}
    <h1>Crea nuova scheda Barthel</h1>

    {{ include('barthel/_form.html.twig') }}

    <a href="{{ path('app_barthel_index') }}">torna alla lista</a>
{% endblock %}
