{% extends 'base.html.twig' %}

{% block title %}NuovaBarthel{% endblock %}

{% block body %}
    <h1>Nuova scheda Barthel</h1>

    {{ include('barthel/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_barthel_index') }}">Annulla</a>
{% endblock %}
