{% extends 'base.html.twig' %}

{% block title %}Barthel{% endblock %}

{% block body %}
    <h1>Barthel</h1>

    {{ include('campi_barthel.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_barthel_index') }}">Torna alla lista</a>

    <a class="btn btn-primary" href="{{ path('app_barthel_edit', {'id': barthel.id}) }}">Modifica</a>

    {{ include('barthel/_delete_form.html.twig') }}
{% endblock %}
