{% extends 'base.html.twig' %}

{% block title %}Barthel{% endblock %}

{% block body %}
    <h1>Barthel</h1>

    {{ include('campi_barthel.html.twig') }}



    {{ include('barthel/_delete_form.html.twig') }}
{% endblock %}
