{% extends 'base.html.twig' %}

{% block title %}ModificaBraden{% endblock %}

{% block body %}
    <h1>Modifica scheda Braden</h1>

    {{ include('braden/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-warning" href="{{ path('app_form_pai_braden_index') }}">Annulla</a>

    {{ include('braden/_delete_form.html.twig') }}
{% endblock %}
