{% extends 'base.html.twig' %}

{% block title %}ModificaBraden{% endblock %}

{% block body %}
    <h1>Modifica scheda Braden</h1>

    {{ include('braden/_form.html.twig', {'button_label': 'Salva'}) }}

    {{ include('braden/_delete_form.html.twig') }}
{% endblock %}
