{% extends 'base.html.twig' %}

{% block title %}NuovaBraden{% endblock %}

{% block body %}
    <h1>Nuova scheda Braden</h1>

    {{ include('braden/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_form_pai_braden_index') }}">Annulla</a>
{% endblock %}
