{% extends 'base.html.twig' %}

{% block title %}NuovaBraden{% endblock %}

{% block body %}
    <h1>Nuova scheda Braden</h1>

    {{ include('braden/_form.html.twig') }}

    <a href="{{ path('app_form_pai_braden_index') }}">Torna alla lista</a>
{% endblock %}
