{% extends 'base.html.twig' %}

{% block title %}Braden{% endblock %}

{% block body %}
    <h1>Braden</h1>

     {{ include('campi_braden.html.twig') }}

    {{ include('braden/_delete_form.html.twig') }}
{% endblock %}
