{% extends 'base.html.twig' %}

{% block title %}ModificaVas{% endblock %}

{% block body %}
    <h1>Modifica scheda Vas</h1>

    {{ include('vas/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-warning" href="{{ path('app_vas_index') }}">Annulla</a>

    {{ include('vas/_delete_form.html.twig') }}
{% endblock %}
