{% extends 'base.html.twig' %}

{% block title %}NuovaVas{% endblock %}

{% block body %}
    <h1>Nuova scheda Vas</h1>

    {{ include('vas/_form.html.twig') }}

    <a href="{{ path('app_vas_index') }}">Torna alla lista</a>
{% endblock %}
