{% extends 'base.html.twig' %}

{% block title %}NuovaSPMSQ{% endblock %}

{% block body %}
    <h1>Nuova scheda Valutazione Cognitiva:SPMSQ</h1>

    {{ include('spmsq/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_s_p_m_s_q_index') }}">Annulla</a>
{% endblock %}
