{% extends 'base.html.twig' %}

{% block title %}SPMSQ{% endblock %}

{% block body %}
    <h1>SPMSQ</h1>
    {{ include('campi_spmsq.html.twig') }}

    <div class="alert alert-info" role="alert">
    <div class="row">
    Esito della valutazione
    </div>
    <div class="row">
    - 0-2 errori: assenza di deterioramento
    </div>
    <div class="row">
    - 3-4 errori: deterioramento lieve
    </div>
    <div class="row">
    - 5-7 errori: deterioramento moderato
    </div>
    <div class="row">
    - 8-10 errori: deterioramento grave
    </div>
    </div>



    {{ include('spmsq/_delete_form.html.twig') }}
{% endblock %}
