{% extends 'base.html.twig' %}

{% block title %}ChiusuraServizio{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Chiusura Servizio</h1>
</div>

<div class="col-lg-6 col-12">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
</div>

<section class="container-text-center">
  <form class="row">
    <label for="date" class="col-lg-6 col-12">Data Valutazione</label>
      <div class="row">
        <div class="input-group date" id="datepicker">
          <div class= "col-lg-6 col-12">
            <input type="text" class="form-control" id="date"/>
              <div class= "col-2">
                <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
            </div>
          </div>
        </div>  
      </div> 
  </form>
</section>

<button type="submit" class="btn btn-primary">Salva</button>

{% endblock %}
