{% extends 'base.html.twig' %}

{% block title %}NuovaSchedaChiusuraServizio{% endblock %}

{% block body %}
    <h1>Nuova scheda Chiusura Servizio</h1>

    {{ include('chiusura_servizio/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_chiusura_servizio_index') }}">Annulla</a>
{% endblock %}
