{% extends 'base.html.twig' %}

{% block title %}ChiusuraServizio{% endblock %}

{% block body %}
    <h1>Chiusura Servizio</h1>

    {{ include('campi_chiusura_servizio.html.twig') }}
    <a class="btn btn-primary" href="{{ path('app_chiusura_servizio_index') }}">Torna alla lista</a>

    <a class="btn btn-primary" href="{{ path('app_chiusura_servizio_edit', {'id': chiusura_servizio.id}) }}">Modifica</a>

    {{ include('chiusura_servizio/_delete_form.html.twig') }}
{% endblock %}
