{% extends 'base.html.twig' %}

{% block title %}ChiusuraServizio{% endblock %}

{% block body %}
    <h1>Chiusura Servizio</h1>

    {{ include('campi_chiusura_servizio.html.twig') }}

    {{ include('chiusura_servizio/_delete_form.html.twig') }}
{% endblock %}
