{% extends 'base.html.twig' %}

{% block title %}ModificaLesioni{% endblock %}

{% block body %}
    <h1>Modifica scheda Lesioni</h1>

    {{ include('lesioni/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-warning" href="{{ path('app_lesioni_index') }}">Annulla</a>

    {{ include('lesioni/_delete_form.html.twig') }}
{% endblock %}
