{% extends 'base.html.twig' %}

{% block title %}NuovaSchedaLesioni{% endblock %}

{% block body %}
    <h1>Nuova scheda Lesioni</h1>

    {{ include('lesioni/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_lesioni_index') }}">Annulla</a>
{% endblock %}
