{% extends 'base.html.twig' %}

{% block title %}Lesioni{% endblock %}

{% block body %}
    <h1>Lesioni</h1>

    {{ include('campi_lesioni.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_lesioni_index') }}">Torna alla lista</a>

    <a class="btn btn-primary" href="{{ path('app_lesioni_edit', {'id': lesioni.id}) }}">Modifica</a>

    {{ include('lesioni/_delete_form.html.twig') }}
{% endblock %}
