{% extends 'base.html.twig' %}

{% block title %}ModificaParereMMG{% endblock %}

{% block body %}
    <h1>Modifica Parere MMG</h1>

    {{ include('parere_mmg/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-danger" href="{{ path('app_parere_mmg_index') }}">Annulla</a>

    {{ include('parere_mmg/_delete_form.html.twig') }}
{% endblock %}
