{% extends 'base.html.twig' %}

{% block title %}Hello ParereMMGController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Parere MMG</h1>
</div>

<div class ="row gy-5">
  <div class="col-2">
    <select class="form-select" aria-label="Default select example">
      <option selected>Parere</option>
      <option value="favorevole">Favorevole</option>
      <option value="contrario">Contrario</option>
    </select>
   </div>
</div>

<div class="form-floating">
    <h4>Note</h4>
</div>

<div class="col-2">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
</div>
{% endblock %}
