{% extends 'base.html.twig' %}

{% block title %}NuovoParereMMG{% endblock %}

{% block body %}
    <h1>Nuovo Parere MMG</h1>

    {{ include('parere_mmg/_form.html.twig') }}

    <a href="{{ path('app_parere_mmg_index') }}">Torna alla lista</a>
{% endblock %}
