{% extends 'base.html.twig' %}

{% block title %}ParereMMG{% endblock %}

{% block body %}
    <h1>Parere MMG</h1>

    {{ include('campi_parere_mmg.html.twig') }}

    {{ include('parere_mmg/_delete_form.html.twig') }}
{% endblock %}
