{% extends 'base.html.twig' %}

{% block title %}ModificaTinetti{% endblock %}

{% block body %}
    <h1>Modifica scheda Tinetti</h1>

    {{ include('tinetti/_form.html.twig', {'button_label': 'Modifica'}) }}

    <a href="{{ path('app_tinetti_index') }}">Torna alla lista</a>

    {{ include('tinetti/_delete_form.html.twig') }}
{% endblock %}
