{% extends 'base.html.twig' %}

{% block title %}ModificaTinetti{% endblock %}

{% block body %}
    <h1>Modifica scheda Tinetti</h1>

    {{ include('tinetti/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-warning" href="{{ path('app_tinetti_index') }}">Annulla</a>

    {{ include('tinetti/_delete_form.html.twig') }}
{% endblock %}
