{% extends 'base.html.twig' %}

{% block title %}EditUserPassword{% endblock %}

{% block body %}
    <h1>Modifica Password</h1>

    {{ include('Profilo/_formPassword.html.twig', {'button_label': 'Salva'}) }}
   <a class="btn btn-danger" href="{{ path('app_profilo_show') }}">Annulla</a>
{% endblock %}