{% extends 'base.html.twig' %}

{% block title %}ModificaValutazioneFiguraProfessionale{% endblock %}

{% block body %}
    <h1>Modifica Valutazione Figura Professionale</h1>

    {{ include('valutazione_figura_professionale/_form.html.twig', {'button_label': 'Salva'}) }}

    <a class="btn btn-warning" href="{{ path('app_valutazione_figura_professionale_index') }}">Annulla</a>

    {{ include('valutazione_figura_professionale/_delete_form.html.twig') }}
{% endblock %}
