{% extends 'base.html.twig' %}

{% block title %}ValutazioneFiguraProfessionale{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Valutazione Figura Professionale</h1>
</div>
<div class="form-floating">
    <h4>Valutazione/Figura professionale</h4>
</div>

<div class ="row gy-5">
    <div class="col-lg-6 col-12">
        <select class="form-select" aria-label="Default select example">
            <option selected>Tipologia Operatore</option>
            <option value="inf">INF</option>
            <option value="tdr">TDR</option>
            <option value="log">LOG</option>
            <option value="asa">ASA</option>
            <option value="oss">OSS</option>
        </select>
    </div>
</div>  

<div class="form-floating">
    <h4>Diagnosi Professionale</h4>
</div>

<div class="col-lg-6 col-12">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
</div>

<div class="form-floating">
    <h4>Obbiettivi da raggiungere</h4>
</div>

<div class="col-lg-6 col-12">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
</div>

<div class="form-floating">
    <h4>Tipo e frequenza</h4>
</div>

<div class="col-lg-6 col-12">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
</div>

<div class="form-floating">
    <h4>Modalità e tempi di monitoraggio degli Obbiettivi</h4>
</div>

<div class="col-lg-6 col-12">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
</div>

<section class="container-text-center">
  <form class="row">
    <label for="date" class="col-lg-6 col-12">Data Valutazione</label>
      <div class="row">
        <div class="input-group date" id="datepicker">
          <div class= "col-lg-6 col-12">
            <input type="text" class="form-control" id="date"/>
              <div class= "col-2">
                <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
            </div>
          </div>
        </div>  
      </div> 
  </form>
</section>

<button type="submit" class="btn btn-primary">Salva</button>


{% endblock %}
