{% extends 'base.html.twig' %}

{% block title %}New ValutazioneFiguraProfessionale{% endblock %}

{% block body %}
    <h1>Create new ValutazioneFiguraProfessionale</h1>

    {{ include('valutazione_figura_professionale/_form.html.twig') }}

    <a href="{{ path('app_valutazione_figura_professionale_index') }}">back to list</a>
{% endblock %}
