{% extends 'base.html.twig' %}

{% block title %}NuovaValutazioneFiguraProfessionale{% endblock %}

{% block body %}
    <h1>Nuova scheda Valutazione Figura Professionale</h1>

    {{ include('valutazione_figura_professionale/_form.html.twig') }}

    <a href="{{ path('app_valutazione_figura_professionale_index') }}">Torna alla lista</a>
{% endblock %}
