<form method="post" action="{{ path('app_controller_pai_altra_tipologia_assistenza_delete', {'id': altra_tipologia_assistenza.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ altra_tipologia_assistenza.id) }}">
    <button class="btn">Delete</button>
</form>
