{% extends 'base.html.twig' %}

{% block title %}Edit AltraTipologiaAssistenza{% endblock %}

{% block body %}
    <h1>Edit AltraTipologiaAssistenza</h1>

    {{ include('controller_pai/altra_tipologia_assistenza/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_controller_pai_altra_tipologia_assistenza_index') }}">back to list</a>

    {{ include('controller_pai/altra_tipologia_assistenza/_delete_form.html.twig') }}
{% endblock %}
