{% extends 'base.html.twig' %}

{% block title %}New AltraTipologiaAssistenza{% endblock %}

{% block body %}
    <h1>Create new AltraTipologiaAssistenza</h1>

    {{ include('controller_pai/altra_tipologia_assistenza/_form.html.twig') }}

    <a href="{{ path('app_controller_pai_altra_tipologia_assistenza_index') }}">back to list</a>
{% endblock %}
